In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
# import and preview investment csv
investments_df = pd.read_csv("resources/investments.csv", delimiter=",", encoding = 'unicode_escape')
investments_df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# import and preview income csv
income_df = pd.read_csv("resources/kaggle_income.csv", delimiter=",", encoding = 'unicode_escape')
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [4]:
# clean investments csv
investments_df.columns
investments_df = investments_df[['name', 'homepage_url', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding']]
investments_df

# drop null values
investments_df = investments_df.dropna()
investments_df

investments_df.dtypes

# convert funding_total_usd to float
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].astype("str")
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].str.replace(',','')
investments_df[' funding_total_usd '] = pd.to_numeric(investments_df[' funding_total_usd '], errors='coerce')
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,NaN,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000.0,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# filter for USA only
investments_df = investments_df.loc[investments_df['country_code']=='USA']
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,NaN,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000.0,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# clean income df - remove extraneous columns
income_df = income_df[['State_Name', 'State_ab','Mean', 'Median', 'Stdev', 'sum_w']]
income_df

        State_Name State_ab   Mean  Median  Stdev        sum_w
0          Alabama       AL  38773   30506  33101  1638.260513
1          Alabama       AL  37725   19528  43789   258.017685
2          Alabama       AL  54606   31930  57348   926.031000
3          Alabama       AL  63919   52814  47707   378.114619
4          Alabama       AL  77948   67225  54270   282.320328
...            ...      ...    ...     ...    ...          ...
32521  Puerto Rico       PR  30649   13729  37977  1321.278082
32522  Puerto Rico       PR  15520    9923  15541   238.813450
32523  Puerto Rico       PR  41933   34054  31539   313.551070
32524  Puerto Rico       PR      0       0      0     0.000000
32525  Puerto Rico       PR  28049   20229  33333   512.884803

[32526 rows x 6 columns]

In [32]:
# group by and summarize by state name
groupby_state = income_df.groupby(['State_ab'])
median_income = groupby_state['Median'].mean()
mean_income = groupby_state['Mean'].mean()
stdev_income = groupby_state['Stdev'].mean()

# create new dataframe with values above
income_df_grouped = pd.DataFrame({"Median Income": median_income,
                                 "Mean Income": mean_income,
                                 "Standard Deviation": stdev_income})
# reset index
income_df_grouped.reset_index()

# format
income_df_grouped['Median Income']=income_df_grouped['Median Income'].map("${:,.2f}".format)
income_df_grouped['Mean Income']=income_df_grouped['Mean Income'].map("${:,.2f}".format)
income_df_grouped['Standard Deviation']=income_df_grouped['Standard Deviation'].map("{:,.2f}".format)

income_df_grouped

         Median Income Mean Income Standard Deviation
State_ab
AK         $108,911.70  $77,670.21          51,760.07
AL          $62,771.24  $53,612.93          41,725.64
AR          $52,381.61  $52,060.36          40,817.96
AZ          $79,373.54  $62,578.07          43,626.82
CA         $100,581.73  $78,126.74          53,652.98
CO          $99,512.92  $73,322.82          49,529.68
CT         $120,557.35  $89,227.22          58,091.32
DC          $93,759.59  $90,668.42          62,519.22
DE          $87,086.03  $70,142.34          51,072.89
FL          $75,203.76  $60,887.89          45,366.67
GA          $71,669.21  $60,354.39          44,740.78
HI          $95,679.36  $77,859.59          52,302.69
IA          $80,540.42  $62,569.15          44,822.94
ID          $81,455.55  $56,211.44          42,122.95
IL          $86,771.19  $69,067.38          48,763.42
IN          $83,273.61  $59,153.83          42,072.82
KS          $82,433.14  $61,704.82          42,916.48
KY          $64,374.35  $55,250.16          42,184.15
LA          $59,831.23  $55,432.26          44,164.50
MA         $118,008.04  $84,878.68          58,260.87
MD         $113,988.23  $87,689.60          54,828.66
ME          $66,040.71  $60,708.52          48,075.12
MI          $70,040.05  $59,001.12          42,550.55
MN          $88,461.73  $71,404.00          49,469.21
MO          $70,934.11  $56,674.88          41,619.25
MS          $57,423.01  $48,924.00          39,858.78
MT          $68,587.67  $57,350.55          44,178.16
NC          $70,692.51  $57,750.10          43,425.34
ND          $83,476.15  $65,137.07          47,212.19
NE          $90,510.69  $61,719.39          43,144.77
NH         $101,146.01  $76,113.50          52,030.85
NJ         $125,685.83  $88,657.64          57,617.36
NM          $82,390.76  $57,127.07          43,344.75
NV          $90,228.10  $65,684.12          44,747.91
NY         $100,544.03  $76,201.22          53,226.69
OH          $74,885.30  $59,675.86          43,011.28
OK          $61,972.67  $55,121.33          42,322.26
OR          $85,136.76  $63,597.05          46,565.75
PA          $83,214.73  $64,878.69          46,611.31
PR          $22,048.26  $27,255.58          24,979.08
RI         $105,751.98  $72,971.17          52,377.00
SC          $68,207.06  $55,715.25          43,063.22
SD          $81,221.00  $58,276.96          41,901.00
TN          $65,054.75  $56,271.95          42,670.00
TX          $85,856.51  $65,407.01          46,045.53
UT         $109,378.08  $72,132.21          47,244.54
VA         $103,971.86  $79,401.74          50,879.98
VT          $81,112.72  $63,195.49          46,970.20
WA          $99,918.09  $74,067.36          49,940.72
WI          $79,387.06  $64,143.26          44,883.83
WV          $63,566.33  $52,292.00          42,231.50
WY         $113,605.57  $67,552.67          44,192.49

In [31]:
# join both dfs by State_ab and state_code
investment_income = pd.merge(investments_df, income_df_grouped, how='left', left_on='state_code', right_on= 'State_ab')
investment_income

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,Median Income,Mean Income,Standard Deviation
0,#waywire,http://www.waywire.com,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$100,544.03","$76,201.22",53226.685185
1,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$86,771.19","$69,067.38",48763.420685
2,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,NaN,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$100,581.73","$78,126.74",53652.978963
3,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$125,685.83","$88,657.64",57617.362613
4,10-20 Media,http://www.10-20media.com,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$113,988.23","$87,689.60",54828.655290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20858,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000.0,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$83,214.73","$64,878.69",46611.311864
20859,Zynga,http://www.zynga.com,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$100,581.73","$78,126.74",53652.978963
20860,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$113,988.23","$87,689.60",54828.655290
20861,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0,"$70,934.11","$56,674.88",41619.248571
20862,[x+1],http://www.xplusone.com/,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$100,544.03","$76,201.22",53226.685185