In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# import and preview investment csv
investments_df = pd.read_csv("resources/investments.csv", delimiter=",", encoding = 'unicode_escape')
investments_df

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# import and preview income csv
income_df = pd.read_csv("resources/kaggle_income.csv", delimiter=",", encoding = 'unicode_escape')
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [4]:
# clean investments csv
investments_df.columns
investments_df = investments_df[['name', 'homepage_url', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding']]
investments_df

# drop null values
investments_df = investments_df.dropna()
investments_df

#investments_df.dtypes

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,"17,50,000",acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,"17,50,000",operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,"20,50,000",operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,"1,30,00,000",operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,"86,65,50,786",operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,"2,50,00,000",operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,"3,42,75,015",operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# convert funding_total_usd to float
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].astype("str")
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].str.replace(',','').str.replace('-','0')
investments_df[' funding_total_usd '] = pd.to_numeric(investments_df[' funding_total_usd '], errors='coerce')
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,0,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# filter for USA only
investments_df = investments_df.loc[investments_df['country_code']=='USA']
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,0,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# clean income df - remove extraneous columns
income_df = income_df[['State_Name', 'State_ab','Mean', 'Median', 'Stdev', 'sum_w']]
income_df

        State_Name State_ab   Mean  Median  Stdev        sum_w
0          Alabama       AL  38773   30506  33101  1638.260513
1          Alabama       AL  37725   19528  43789   258.017685
2          Alabama       AL  54606   31930  57348   926.031000
3          Alabama       AL  63919   52814  47707   378.114619
4          Alabama       AL  77948   67225  54270   282.320328
...            ...      ...    ...     ...    ...          ...
32521  Puerto Rico       PR  30649   13729  37977  1321.278082
32522  Puerto Rico       PR  15520    9923  15541   238.813450
32523  Puerto Rico       PR  41933   34054  31539   313.551070
32524  Puerto Rico       PR      0       0      0     0.000000
32525  Puerto Rico       PR  28049   20229  33333   512.884803

[32526 rows x 6 columns]

In [8]:
# group by and summarize by state name
groupby_state = income_df.groupby(['State_ab'])
median_income = groupby_state['Median'].mean()
mean_income = groupby_state['Mean'].mean()
stdev_income = groupby_state['Stdev'].mean()

# create new dataframe with values above
income_df_grouped = pd.DataFrame({"Median Income": median_income,
                                 "Mean Income": mean_income,
                                 "Standard Deviation": stdev_income})
# reset index
income_df_grouped.reset_index()

# export as csv
income_df_grouped.to_csv('resources/state.csv')

In [9]:
# join both dfs by State_ab and state_code
investment_income = pd.merge(investments_df, income_df_grouped, how='left', left_on='state_code', right_on= 'State_ab')
investment_income

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,Median Income,Mean Income,Standard Deviation
0,#waywire,http://www.waywire.com,News,1750000,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100544.026852,76201.220833,53226.685185
1,004 Technologies,http://004gmbh.de/en/004-interact,Software,0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86771.185185,69067.381551,48763.420685
2,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,0,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100581.732927,78126.737805,53652.978963
3,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125685.829955,88657.644144,57617.362613
4,10-20 Media,http://www.10-20media.com,E-Commerce,2050000,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,113988.232082,87689.604096,54828.655290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20858,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83214.731525,64878.694915,46611.311864
20859,Zynga,http://www.zynga.com,Technology,866550786,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100581.732927,78126.737805,53652.978963
20860,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,113988.232082,87689.604096,54828.655290
20861,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0,70934.110000,56674.882857,41619.248571
20862,[x+1],http://www.xplusone.com/,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100544.026852,76201.220833,53226.685185

In [10]:
# groupby  status
groupby_status = investment_income.groupby(['status'])
funding = groupby_status[' funding_total_usd '].mean()
status_funding = pd.DataFrame({"Funding Mean": funding})
status_funding

           Funding Mean
status
acquired   2.470272e+07
closed     7.930920e+06
operating  1.803165e+07

In [11]:
# groupby state
groupby_state = investment_income.groupby(['state_code'])
status_state = groupby_state['status'].value_counts()
status_state = pd.DataFrame({'Status':status_state})
status_state

                      Status
state_code status
AK         operating       5
AL         operating      58
           acquired        2
           closed          1
AR         operating      86
...                      ...
WI         closed         11
           acquired        8
WV         operating       7
           closed          1
WY         operating      11

[139 rows x 1 columns]

In [12]:
# range of funding 
max_funding = investment_income[' funding_total_usd '].max()
print(f'Max investment is {max_funding}')

min_funding = investment_income[' funding_total_usd '].min()
print(f'Min investment is {min_funding}')

mean_funding = investment_income[' funding_total_usd '].mean()
print(f'Mean investment is {mean_funding}')

median_funding = investment_income[' funding_total_usd '].median()
print(f'Median investment is {median_funding}')

Max investment is 30079503000
Min investment is 0
Mean investment is 18156812.771317642
Median investment is 2000000.0

In [13]:
# create bins for FUNDING
income_bins = [0, 500000, 1000000, 2000000, 6000000 , 50000000, 100000000, 500000000, 31000000000]
group_names = ["< 50,000","50,000 - 1 million", "1 - 2 million", "2 - 6 million", "6 - 50 million","50 - 100 million", "100 - 500 million", "> 500 million"]

In [42]:
# create new column on investment ranges and set it as index
investment_income["Funding Range"]= pd.cut(investment_income[' funding_total_usd '],income_bins,labels=group_names).values.add_categories('0')
investment_income

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,Median Income,Mean Income,Standard Deviation,Funding Range
0,#waywire,http://www.waywire.com,News,1750000,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100544.026852,76201.220833,53226.685185,1 - 2 million
1,004 Technologies,http://004gmbh.de/en/004-interact,Software,0,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,86771.185185,69067.381551,48763.420685,NaN
2,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,0,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100581.732927,78126.737805,53652.978963,NaN
3,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,125685.829955,88657.644144,57617.362613,1 - 2 million
4,10-20 Media,http://www.10-20media.com,E-Commerce,2050000,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,113988.232082,87689.604096,54828.655290,2 - 6 million
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20858,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,83214.731525,64878.694915,46611.311864,6 - 50 million
20859,Zynga,http://www.zynga.com,Technology,866550786,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100581.732927,78126.737805,53652.978963,> 500 million
20860,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,113988.232082,87689.604096,54828.655290,6 - 50 million
20861,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015,operating,USA,MO,MO - Other,Fremont,4.0,...,7500000.0,0.0,0.0,0.0,0.0,0.0,70934.110000,56674.882857,41619.248571,6 - 50 million
20862,[x+1],http://www.xplusone.com/,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100544.026852,76201.220833,53226.685185,6 - 50 million

In [49]:
# groupby school size groupings
investment_groups = investment_income.groupby(['Funding Range'])
investmentrange = investment_groups['Funding Range'].count()
investmentrange

Funding Range
< 50,000              4333
50,000 - 1 million    1660
1 - 2 million         2010
2 - 6 million         3268
6 - 50 million        5503
50 - 100 million       897
100 - 500 million      548
> 500 million           61
0                        0
Name: Funding Range, dtype: int64

In [48]:
# create df
investment_df = pd.DataFrame({"Number of companies": investmentrange})
investment_df.reset_index()

        Funding Range  Number of companies
0            < 50,000                 4333
1  50,000 - 1 million                 1660
2       1 - 2 million                 2010
3       2 - 6 million                 3268
4      6 - 50 million                 5503
5    50 - 100 million                  897
6   100 - 500 million                  548
7       > 500 million                   61
8                   0                    0

In [45]:
# export to csv
investment_df.to_csv("resources/fundingrange.csv")

In [46]:
#market by mean funding
market_by_mean_funding = round(investment_income.groupby(" market ")[" funding_total_usd "].mean(), 2)
pd.DataFrame(market_by_mean_funding)
pd.DataFrame(market_by_mean_funding.sort_values(ascending=False, na_position="last"))

# status df
status_df = investment_income.iloc[:,[0,4]]
status_df

# export to csv
status_df.to_csv("resources/status.csv", index=False)

In [47]:
# company df
company_df = investment_income.loc[:,["name","state_code"," funding_total_usd ","homepage_url"," market ", "Funding Range"]]
company_df

#export to csv
company_df.to_csv("resources/company.csv", index=False)

company_df

,name,state_code,funding_total_usd,homepage_url,market,Funding Range
0,#waywire,NY,1750000,http://www.waywire.com,News,1 - 2 million
1,004 Technologies,IL,0,http://004gmbh.de/en/004-interact,Software,NaN
2,1-800-DENTIST,CA,0,http://www.1800dentist.com,Health and Wellness,NaN
3,1-800-DOCTORS,NJ,1750000,http://1800doctors.com,Health and Wellness,1 - 2 million
4,10-20 Media,MD,2050000,http://www.10-20media.com,E-Commerce,2 - 6 million
...,...,...,...,...,...,...
20858,Zynerba Pharmaceuticals,PA,13000000,http://zynerba.com,Pharmaceuticals,6 - 50 million
20859,Zynga,CA,866550786,http://www.zynga.com,Technology,> 500 million
20860,Zyngenia,MD,25000000,http://www.zyngenia.com,Biotechnology,6 - 50 million
20861,ZYOMYX,MO,34275015,http://www.zyomyx.com,Biotechnology,6 - 50 million
20862,[x+1],NY,45000000,http://www.xplusone.com/,Enterprise Software,6 - 50 million