In [38]:
import pandas as pd
import csv

In [39]:
investment = pd.read_csv("resources/investments.csv", delimiter=",", encoding = "unicode_escape")
investment.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
income = pd.read_csv("resources/kaggle_income.csv", delimiter=",", encoding = "unicode_escape")
income.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [41]:
#droping unessesary columns for analysis 
investment_df = investment.drop(['round_A', 'round_B', 'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'], axis=1)
income_df = income.drop(['State_Name', 'State_Code', 'Place', 'Area_Code', 'Primary', 'ALand', 'AWater', 'id', 'City', 'Lat', 'Lon', 'sum_w', 'County'], axis=1)
income_df.head()

  State_ab  Type  Zip_Code   Mean  Median  Stdev
0       AL  City     36611  38773   30506  33101
1       AL  City     36048  37725   19528  43789
2       AL  City     35051  54606   31930  57348
3       AL  City     36572  63919   52814  47707
4       AL  Town     36528  77948   67225  54270

In [42]:
#looking only at USA, drop NaN state_codes, and remove weird commas
usa_investments = investment_df.loc[investment_df["country_code"] == "USA", :]
usa_investments.dropna(subset=['state_code'])
usa_investments[" funding_total_usd "] = usa_investments[" funding_total_usd "].str.replace(",","")
usa_investments.head()

/Users/mattfahys/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,7000000,NaN,USA,FL,Ft. Lauderdale,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
#preparing income df for merge
new_income = round(income_df.groupby("State_ab")["Mean"].mean(), 2)
pd.DataFrame(new_income).head()

              Mean
State_ab
AK        77670.21
AL        53612.93
AR        52060.36
AZ        62578.07
CA        78126.74

In [44]:
#merging df on state ab
usamerge_investments = usa_investments.merge(new_income, left_on='state_code', right_on='State_ab', how='inner')

In [28]:
usamerge_investments.to_csv('merged_inv_income.csv')

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,Mean
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76201.22
1,/organization/1010data,1010data,http://www.1010data.com,|Software|,Software,35000000,operating,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76201.22
2,/organization/10six,10Six,http://10sixenergy.com,|Electronics|Batteries|Energy|,Electronics,-,operating,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76201.22
3,/organization/1stdibs,1stdibs,http://www.1stdibs.com,|E-Commerce|,E-Commerce,117000000,operating,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,76201.22
4,/organization/1stgig-com,1stGig.com,http://www.1stgig.com,|E-Commerce|,E-Commerce,750000,operating,USA,NY,"Albany, New York",...,0.0,0.0,750000.0,0.0,0.0,0.0,0.0,0.0,0.0,76201.22

In [47]:
#investments by state view
usamerge_investments.groupby("state_code")["name"].count()

state_code
AK      12
AL     105
AR     177
AZ     327
CA    9917
CO     723
CT     316
DC     182
DE      71
FL     963
GA     541
HI      54
IA      78
ID      56
IL     827
IN     233
KS      94
KY     113
LA      78
MA    1969
MD     493
ME      52
MI     313
MN     355
MO     220
MS      32
MT      30
NC     476
ND      15
NE      75
NH     112
NJ     579
NM      75
NV     195
NY    2914
OH     532
OK      76
OR     312
PA     792
RI     104
SC     125
SD      14
TN     411
TX    1466
UT     365
VA     553
VT      48
WA     974
WI     191
WV      15
WY      17
Name: name, dtype: int64